<section>
	<h1>Introduction</h1>
	<h3>Alex Kaare - (Lead) UI Developer</h3>
</section>

<section>
	<h2>Background</h2>
	<ul>
		<li>I've been building user interfaces for over 10 years</li>
		<li>Using a wide range of tools/technologies</li>
		<li>Passionate about what I do and enjoy learning and developing my skills and the skills of those around me</li>
		<li>I find delivering exceptional user experience extremely rewarding</li>
		<li>I've built user interfaces for a wide range of globally recognised brands including Mercedes-Benz, Audi, Skoda, Volkswagen, Seat, Dell, Valliant, Blackberry, Peugeot, Citroen, Cadillac, Vauxhall, General motors, Johnson &amp; Johnson and many more</li>
		<li>My idea of a good night is a cup of coffee and a good programming book</li>
	</ul>
</section>

<section>
	<h2>Present</h2>
	<ul>
		<li>I currently work for BI Worldwide Ltd a global performance improvement agency</li>
		<li>I'm the lead frontend user interface developer</li>
		<li>My responsibilities include - Gathering detailed requirements, designing, coding, testing and documenting complex user interfaces, along with leading and developing team members</li>
		<li>I work in a fast paced environment where I have to be extremely organised and well versed in order to implement solutions to tasks quickly and effectively</li>
	</ul>
</section>

<section>
	<h2>Future</h2>
	<ul>
		<li>Ready for a new challenge</li>
		<li>Excited by the scale and range of the role</li>
		<li>Opportunity to work for a forward thinking, innovative, market leading company</li>
		<li>Broaden and develop my skill set and share knowledge with others</li>
	</ul>
</section>