<section>
	<h1>Loving Success</h1>
	<h3>Accomplishing great things</h3>
	<p>Accomplishing great things means accepting and tackling challenges with enthusiasm and positivity. It’s all about working productively in a fast-moving and pressurised environment, while recognising and rewarding the contributions and successes of others. Encouraging an organisational learning approach. And having the foresight to identify the development needed to attain career goals.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Win, build and deliver an engaging, creative and highly interactive data driven web application for Mercedes Benz UK</li>
		<li>New client through recommendation of previous project, reputations at stake</li>
		<li>Extremely tight deadline for the amount of work required</li>
		<li>Multi brand platform Mercedes/Smart with multiple stakeholders to service</li>
		<li>Additional work commitments for other clients</li>
		<li>Limited resources</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Played key role in gathering and documenting detailed requirements using wireframes and functional specifications</li>
		<li>Proposed innovative solutions to help speed up development time and save costs</li>
		<li>Sourced, managed and trained external resources</li>
		<li>Implemented effective tools/systems for working with remote parties</li>
		<li>Central role coordinating with designers, developers and stakeholders</li>
		<li>Modularized codebase for effective re-use, testability and documentation</li>
		<li>Kept self and team members positive, motivated and on track despite long hours (18 hour days) over the Christmas period</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Won pitch and delivered business on time and budget</li>
		<li>Excellent feedback from all clients and stakeholders</li>
		<li>New high profile client</li>
		<li>Learned valuable tools and techniques to speed up development process</li>
		<li>Good application blueprint for future projects</li>
	</ul>
</section>
<section>
	<a href="http://localhost:9778/site/motivate/03-se/faststart-q1/03-play-game.html" target="_blank">View project</a>
</section>
