<section>
	<h1>Loving Success</h1>
	<h3>Delighting customers</h3>
	<p>Delighting customers relies on establishing good relationships with them, focussing on their needs and making their satisfaction a top priority. It means demonstrating an interest in and understanding of customers, as well as setting high standards for quality and quantity. Monitoring and maintaining productivity, upholding ethics and values, and acting with integrity are also key factors.</p>
</section>
<section>
	<h2>Situation/Task</h2>
	<ul>
		<li>Renew existing 6 year contract for PI/Recognition platform with Vauxhall</li>
		<li>Important valuable customer and contract</li>
		<li>Lots of tough competition to pitch against</li>
		<li>Update existing technology to benefit client and maintain long term relationship</li>
		<li>Inexperienced team</li>
		<li>Tight deadline</li>
		<li>Large audience with broad goals and agendas</li>
		<li>Align platform with clients future goals/targets</li>
		<li>Increase user engagement and satisfaction</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Rebuilt entire user interface and integrated with new backend infrastructure</li>
		<li>Design, code and test interface to work on a wide range of devices</li>
		<li>Kept clients and stakeholders invloved in the process addressing feedback and requests</li>
		<li>Used latest trends, techniques and standards to achieve creative engaging user friendly solutions</li>
		<li>Proactive approach offering ideas and solutions to client/user requests</li>
		<li>Helped to guide and develop inexperienced team members</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>On time on budget</li>
		<li>Perfect 10 score on customer csi feedback</li>
		<li>Increased customer engagment and performace</li>
		<li>Strengthened customer relationship resulting in increased business and budgets</li>
		<li>Secured business for foreseeable future</li>
		<li>Significant growth of account</li>
	</ul>
</section>
<section>
<a href="#" class="p-vauxhall">View project</a>
</section>