<section>
	<h1>Thinking Ahead</h1>
	<h3>Analysing and using information</h3>
	<p>Analysing and using information means interpreting data of all kinds and putting it to work in a positive way. It’s being able to break information into component parts, patterns and relationships. Knowing when to probe for further information in order to gain a greater understanding of a problem. Then making rational judgements from available information and analysis in order to produce clear and workable solutions to problems. It’s also about demonstrating an understanding of how some issues may be part of a bigger picture, plus dealing with ambiguous information.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Clients and business require intelligent decision making</li>
		<li>New technology and evolution of existing technologies</li>
		<li>Desire to work smarter and faster</li>
		<li>Objective to increase user engagement and participation</li>
		<li>Refine and tune systems to meet market needs</li>
		<li>Tasks taking a long time to complete</li>
		<li>Gain insights into user needs</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Regular analysis of user traffic including browser/device statistics, bounce rates and engagement</li>
		<li>Made decisions on what platforms/environments to support</li>
		<li>Replaced legacy solutions with future proof alternatives</li>
		<li>Actively engage with users through online surveys and action results/findings</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Replaced redundant platforms saving time and money for both BI Worlwdide and its clients</li>
		<li>Good support for current and future platforms</li>
		<li>Reduced turn around times for new projects and project maintenance</li>
		<li>More traffic outside core working hours as a result of mobile app</li>
		<li>Increased customer engagment, satisfaction and performace</li>
	</ul>
</section>