<section>
	<h1>Thinking Ahead</h1>
	<h3>Changing and innovating</h3>
	<p>Change and innovation is what keeps Barclaycard relevant and successful. It’s about producing innovative ideas, insight and approaches, plus using knowledge of competitor activity and market trends to an advantage. It’s actively seeking out opportunities for organisational improvement, devising effective change initiatives, and being able to accept, respond and adapt positively to change within a fast-paced environment.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Projects getting more complex</li>
		<li>New technology and evolution of existing technologies</li>
		<li>Tough competition</li>
		<li>Tasks taking a long time to complete</li>
		<li>Difficult for individuals to work on projects at the same time without conflicts</li>
		<li>Hard to track modifications and revert changes</li>
		<li>Severe maintenance overheads</li>
		<li>Difficult to deploy new features</li>
		<li>Confusing process where parts are often missed</li>
		<li>Desire to work smarter and faster</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Extensive research into alternative tools, workflows and methodologies</li>
		<li>Structured, built, and documented new project templates using latest techniques and frameworks</li>
		<li>Sourced, built and implemented mobile framework</li>
		<li>Implemented new version control system to allow effective team collaboration</li>
		<li>Helped guide and train other team members to work with new tools and processes</li>
		<li>Replaced legacy solutions with future proof alternatives</li>
		<li>Helped define and agree standards and approaches to codebase</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Reduced turn around times for new projects and project maintenence</li>
		<li>More traffic outside core working hours as a result of mobile app</li>
		<li>Flexible solutions with broad device and platform support</li>
		<li>Significantly reduced merge conflicts saving the time spent resolving them</li>
		<li>Increased code re-use and consistency</li>
		<li>Better synergy between team</li>
		<li>Less bugs and better code quality</li>
		<li>More stable future proof foundations</li>
		<li>Much easier to track changes and make deployments</li>
	</ul>
</section>