<section>
	<h1>Thinking Ahead</h1>
	<h3>Planning &amp; awareness of strategy</h3>
	<p>Planning for the future relies on setting and developing strategies, then working towards them to realise organisational goals. It’s identifying and building a positive and compelling vision of tomorrow’s Barclaycard at the same time as being realistic about the issues faced today. And demonstrating financial awareness while recognising important business opportunities.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Company strategy to diversify &amp; expand bunsiness beyond automotive sector</li>
		<li>Double business in 2 years from 2012</li>
		<li>Introduce new products to the market to complement existing solutions and compete with competition</li>
		<li>Increase modular based solutions and code re-use to save money and time</li>
		<li>Grow and develop existing accounts</li>
		<li>Rebrand and re-align company vision and values</li>
		<li>Update legacy systems for future proof alternatives</li>
		<li>Reduce maintenance and setup times</li>
		<li>Set solid foundations to build upon</li>
		<li>Identify missing roles and processes needed to achieve business goals</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Structured, built, and documented new project templates for existing and future projects</li>
		<li>Actively supported pitches and delivered new business for clients outside the automotive industry</li>
		<li>Development of existing accounts within GM, VW Group and PSA</li>
		<li>Successfully utilized employee recognition platform from BI Worldwide US</li>
		<li>Built re-usable modules &amp; systems including games, mobile sites, charting frameworks, site resources and assets</li>
		<li>Design and build for new company intranet</li>
		<li>Extensive research and evaluation of current &amp; future technologies</li>
		<li>Replaced legacy solutions with future proof alternatives</li>
		<li>Helped define and agree standards and approaches to codebase</li>
		<li>Designed and built core frontend architecture to standardise and build upon</li>
		<li>Sourced and trained additional resource where necessary</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Won and delivered contracts for a number of non-automotive clients including Vaillant, Blackberry, Dell, Johnson &amp; Johnson, CAT and Neilson</li>
		<li>Increased size and spend of GM, VW Group and PSA accounts</li>
		<li>Company ahead of target to double size of business in 2 years</li>
		<li>More stable future proof codebase</li>
		<li>Increased team size, knowledge and synergy</li>
		<li>Reduced turn around times for new projects and project maintenance</li>
		<li>Quicker to add new resource with less overhead</li>
		<li>New case studies and products to help gain future opportunities</li>
		<li>Significant financial savings and gains</li>
	</ul>
</section>
<section>
<a href="#" class="p-4">View project</a>
</section>