<section>
	<h1>Taking Ownership</h1>
	<h3>Leading and developing others</h3>
	<p>Leading and developing others hinges on providing colleagues with a clear direction, setting appropriate standards of behaviour and delegating work both fairly and appropriately. It’s about motivating and empowering colleagues, making sure they’ve the development opportunities and coaching they need to reach their potential. And making sure that new recruits to Barclaycard are great at what they do.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Limited resource has necessitated need to bring in and lead new team members and external contractors</li>
		<li>Newer, more junior members of staff requiring development in order to increase skills and output</li>
		<li>Need to ensure right calibre of individuals are brought into the team</li>
		<li>Standardise tools, platforms and processes to reduce ambiguity</li>
		<li>Identify roles, skills and processes needed to achieve business goals</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Identified suitable external contractors needed for Mercedes and Johnson &amp; Johnson projects. Brought up to speed, assigned relevant tasks, provided regular mentoring and coaching to enable successful completion of project</li>
		<li>Provided leadership and regular mentoring and coaching for members of team in order to achieve results required</li>
		<li>Designed, built and documented core architecture for projects and trained other team members to utilise the platform</li>
		<li>Presently involved in recruitment process for taking on new staff to expand the team</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Worked closely with external contractor and led project to a very successful conclusion</li>
		<li>External contractor sufficiently trained to be taken on for future projects</li>
		<li>Recognition from senior management that skillset and output of department has improved</li>
		<li>Team members now in a position to take on new projects under my guidance</li>
		<li>More experience and better synergy between the team members</li>
		<li>Continuing to seek high calibre candidates to fill positions created due to expansion of company</li>
	</ul>
</section>
