<section>
	<h1>Taking Ownership</h1>
	<h3>Making decisions</h3>
	<p>Making clear and definite decisions within appropriate timescales is vital. Sometimes these decisions may involve making tough choices, plus taking measured risks – so consideration is equally as important as confidence. It’s about gathering comprehensive data to support responsible decision-making, as well as drawing on past successes and failures to inform decisions.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Existing important client (Audi) looking for development of new web application in addition to existing programme</li>
		<li>Client undergoing brand refresh resulting in limited infomation to work with</li>
		<li>New content management system</li>
		<li>Lot at stake as existing business under threat</li>
		<li>Programme needed to compliment clients ambition to become number one luxury car brand</li>
	</ul>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Carried out extensive brand research to gain understanding of customer direction</li>
		<li>Had to make informed decisions based on research results and take measured risks</li>
		<li>Had to work within very short timelines for decision making and project completion</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Engagement up within dealership</li>
		<li>Sales increased</li>
		<li>Helped Audi to keep on track for company objective to become no. 1 luxury car manufacturer</li>
		<li>Recognised by Audi as a key partner</li>
		<li>Secured future business</li>
		<li>New clients as a result - VW, Bentley</li>
	</ul>
</section>
<section>
<a href="#" class="audi">View project</a>
</section>