<section>
	<h1>Working Together</h1>
	<h3>Getting the message across</h3>
	<p>Getting the message across depends on communicating clearly and fluently, and being able to express opinions and the key points of an argument plainly. It’s about structuring information to meet the needs and understanding of an intended audience. Adapting interpersonal style to suit different people and situations in order to make the right impression. And gaining clear agreement and commitment from others by persuading, convincing and negotiating. It’s also being able to make effective use of political processes to influence and persuade.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Need to get complex infomation across to various stakeholders both internal &amp; external with varying degrees of technical understanding</li>
		<li>Need to persuade BI collegues and clients to buy into appropriate solutions to meet user needs</li>
		<li>Need to adequetly brief non-technical BI staff to convey correct technical messages to clients and stakeholders</li>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Led development of solutions such as Mercedes style guide to assist understanding of technical infomation</li>
		<li>Regular attendance at internal team meeting and brainstorms to provide updates, take on board suggestions</li>
		<li>Used negotiation skills aquired in order to press home key points. Developed an assertive but interactive style</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Mercedes styleguide recognised by BI staff as essential tool for assisting site development</li>
		<li>Recognised by BI staff as key contributer at team meetings</li> 
		<li>Recognised and referred to as technical expert by clients</li>
	</ul>
</section>