<section>
	<h1>Working Together</h1>
	<h3>Working with others</h3>
	<p>Working with others comes across in all sorts of ways. It’s being able to adapt to a team, and build spirit. It’s treating others with care and attention, and offering support when necessary. It’s taking the time to ask, listen and relate, no matter what level or grade the other person is. It’s being generous with expertise and knowledge, and proactively sharing with colleagues. It’s also about promoting and defending diversity &amp; inclusion, showing respect and sensitivity towards cultural and religious differences, and managing conflict effectively.</p>
</section>
<section>
	<h2>Situation / Task</h2>
	<ul>
		<li>Busy fast paced environment</li>
		<li>Common goals throughout business</li>
		<li>Raise profile of department</li>
		<li>Build strength and spirit of team and company</li>
</section>
<section>
	<h2>Actions</h2>
	<ul>
		<li>Shared knowledge of best practice tools, processes and methodologies with team members and other departments</li>
		<li>Designed styleguide for Mercedes to help other members of staff service customer needs</li>
		<li>Developed close working relationships with developers, designers, business analysts, client teams and developers based in India</li>
		<li>Consistently provided simple solutions for customer services, developers and business analysts to utilise on day to day basis</li>
	</ul>
</section>
<section>
	<h2>Results</h2>
	<ul>
		<li>Mercedes styleguide has enabled staff from all departments to provide timely solutions for client. To be used as a template for future client guides/manuals</li>
		<li>Recognised as the "go to" person for team in India and UK for technical solutions - "Code wizard!"</li>
	</ul>
</section>